body
{
    background-size: 0px;
   
    background-color: rgba(255, 192, 203, 0.541);;
}
.banner
{ 
  display: block;
  font-size: 20px;
  
  display:inline-flex;
  width:100%;
  height: 400px;
   
  color: black;
  /* text-decoration-style: double; */
  font-style: italic;
  background-color:#fdce08;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 30px;
 

}
.leftbar
{
  padding-left: 100px;
  width: auto;
}

.rightbar
{
    padding-left: 800px;
   width: auto;
    float:right;
    
   
}
a:link
  
  {
    text-decoration: none;
    text-shadow: 1em;
  }
  .Block_1
  {
    display: block;
  }
  .Block_subTitle
  {
    font-size: 30px;
    padding-left: 45%;
    margin-top: 40px;
  }
  .Block_Header
  {
    text-align: center;
   font-size: 20px;
   
  }
  .Block_paragraph
  {
    font-size: 20px;
    text-align: center;
  }
  /* .Block_2
  {
    display: block;
    max-width: 200px;
    padding-left: 150px;
  } */
  .Block2{
    display: inline-flex;
    width: auto;
  }
  .Highlights
  {
    padding-left: 150px;
    
    margin-bottom: 50px;margin-right: 60px;
   
  }
  .Highlights1
  {
    margin-left: 50px;;
    font-size: 20px;
  }
  .Block-2
  {
    display: block;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    width: auto;
  }
  .para_list
  {
    display: inline-flex;
    float: left;
  }
  .list1
  {
    max-width: 500px;
    text-align: left;
    padding-left: 400px;
    margin-left: 100px;margin-right: 100px;

  }
  .List2
  {
    margin-left: 50px;
  }